<!-- Footer -->
<footer class="py-5 text-center">
    <div class="container">
        <div class="row pt-3 text-secondary small">
            <div class="col-md-6 text-md-start" data-i18n="footer.copyright">
                &copy; 2025-2026 Rafael Dias Garcia - All Rights Reserved
            </div>
            <div class="col-md-6 text-md-end mt-2 mt-md-0">
                <a href="https://github.com/rafaeldiasgarcia/rafaeldiasgarcia.github.io" class="footer-meta-link">
                    <i class="fab fa-github"></i>
                    <span data-i18n="footer.sourceCode">Código do site</span>
                </a>
            </div>
        </div>
    </div>
</footer>
