/* ESTILOS BASE E RESET */

* {
    box-sizing: border-box;
    transition: var(--transition-base);
}

body {
    font-family: var(--font-primary);
    font-size: 18px;
    letter-spacing: 0px;
    font-weight: 400;
    line-height: 28px;
    background: var(--bg-image);
    overflow-x: hidden;
}

body:before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--bg-overlay);
}

/* UTILITY CLASSES */
.rela-block {
    display: block;
    position: relative;
    margin: auto;
}

.rela-inline {
    display: inline-block;
    position: relative;
    margin: auto;
}

.floated {
    display: inline-block;
    position: relative;
    margin: 0;
    float: left;
}

.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 88%;
}

.caps {
    text-transform: uppercase;
}

.justified {
    text-align: justify;
}

p.light {
    color: var(--color-text-light);
}

/* TYPOGRAPHY */
h2 {
    font-family: var(--font-primary);
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: 600;
    line-height: 40px;
    color: var(--color-black);
}

h3 {
    font-family: var(--font-primary);
    font-size: 21px;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 28px;
    color: var(--color-black);
}
