/* MIXINS */
/* Dummy Variable */
/* The top, left, right, and bottom are optional */

/* GENERAL FONTS AND CLASSES AND SETUP STUFF */
* {
    box-sizing: border-box;
    transition: 0.35s ease;
}

.rela-block {
    display: block;
    position: relative;
    margin: auto;
}

.rela-inline {
    display: inline-block;
    position: relative;
    margin: auto;
}

.floated {
    position: relative;
    margin: 0;
    float: left;
}

.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 88%;
}

/* --- COLORS --- */

/* --- PAGE STYLINGS --- */
body {
    font-family: 'Open Sans';
    font-size: 18px;
    letter-spacing: 0px;
    font-weight: 400;
    line-height: 28px;
    background: none;
    overflow-x: hidden;
}

body:before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.92);
}

.caps {
    text-transform: uppercase;
}

.justified {
    text-align: justify;
}

p.light {
    color: #777;
}

h2 {
    font-family: 'Open Sans';
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: 600;
    line-height: 40px;
    color: black;
}

h3 {
    font-family: 'Open Sans';
    font-size: 21px;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 28px;
    color: black;
}

.page {
    width: 90%;
    max-width: 1200px;
    margin: 80px auto;
    background-color: white;
    box-shadow: 6px 10px 28px 0px rgba(0, 0, 0, 0.4);
    min-height: calc(100vh - 160px);
    position: relative;
    overflow: visible;
    padding-bottom: 80px;
}

.top-bar {
    height: 220px;
    background-color: #848484;
    color: white;
}

.name {
    position: absolute;
    top: 0;
    right: 0;
    left: calc(350px + 5%);
    height: 120px;
    text-align: center;
    font-family: 'Raleway';
    font-size: 58px;
    letter-spacing: 8px;
    font-weight: 100;
    line-height: 60px;
}

.name div {
    width: 94%;
}

.side-bar {
    position: absolute;
    top: 60px;
    left: 5%;
    width: 350px;
    background-color: #F7E0C1;
    padding: 350px 30px 50px;
    text-align: center;
    height: auto;
    max-height: none;
    box-sizing: border-box;
}

.mugshot {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    height: 210px;
    width: 210px;
}

.mugshot .logo {
    margin: -23px;
}

.logo {
    position: absolute;
    top: 0;
    left: 60%;
    transform: translateX(-50%);
    z-index: 100;
    margin: 0;
    color: black;
    height: 300px;
    width: 300px;
}

.photo-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #F7E0C1;
    clip-path: polygon(12.5% 12.5%, 65% 12.5%, 90% 37.5%, 90% 87.5%, 37.5% 87.5%, 12.5% 62.5%);
    overflow: hidden;
}

.profile-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 70% -150%;
}

.logo .logo-svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    z-index: 2;
}

.logo .logo-text {
    position: absolute;
    top: 58%;
    left: 16%;
    cursor: pointer;
    font-family: "Montserrat";
    font-size: 55px;
    letter-spacing: 0px;
    font-weight: 400;
    line-height: 58.33px;
}

.social {
    padding-left: 0;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

.social:hover {
    color: #333;
}

.social:before {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-size: cover !important;
    margin-right: 8px;
}

.social.twitter:before {
    background: url('https://cdn3.iconfinder.com/data/icons/social-media-2026/60/Socialmedia_icons_Twitter-07-128.png') center no-repeat;
}

.social.pinterest:before {
    background: url('https://cdn3.iconfinder.com/data/icons/social-media-2026/60/Socialmedia_icons_Pinterest-23-128.png') center no-repeat;
}

.social.linked-in:before {
    background: url('https://cdn3.iconfinder.com/data/icons/social-media-2026/60/Socialmedia_icons_LinkedIn-128.png') center no-repeat;
}

.social.github:before {
    background: url('https://cdn-icons-png.flaticon.com/512/25/25231.png') center no-repeat;
}

.social.whatsapp:before {
    display: none;
}

.social.email:before {
    display: none;
}

.side-header {
    font-family: 'Open Sans';
    font-size: 18px;
    letter-spacing: 4px;
    font-weight: 600;
    line-height: 28px;
    margin: 50px auto 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #888;
}

.list-thing {
    margin-bottom: 10px;
}

.content-container {
    margin-right: 0;
    width: calc(95% - 350px);
    padding: 25px 40px 50px;
}

.content-container > * {
    margin: 0 auto 25px;
}

.content-container > h3 {
    margin: 0 auto 5px;
}

.content-container > p.long-margin {
    margin: 0 auto 50px;
}

.title {
    width: 80%;
    text-align: center;
}

.separator {
    width: 240px;
    height: 2px;
    background-color: #999;
}

.greyed {
    background-color: #DDD;
    width: 100%;
    max-width: 580px;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 18px;
    letter-spacing: 6px;
    font-weight: 600;
    line-height: 28px;
}

/* Estilos para as colunas de tecnologias */
.technologies-container {
    display: flex;
    gap: 4px;
    margin-top: 0;
    justify-content: space-between;
}

.technologies-column {
    flex: 1;
    min-width: 0;
}


/* RESPONSIVE DESIGN - TABLET */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .mugshot {
        position: absolute;
        top: 120px !important;
        left: 50%;
        transform: translateX(-50%);
        height: 160px;
        width: 160px;
    }
    
    .logo {
        position: absolute;
        top: 0;
        left: 60%;
        transform: translateX(-50%);
        z-index: 100;
        margin: 0;
        color: black;
        height: 220px;
        width: 220px;
    }
    
    .side-bar {
        padding: 290px 30px 80px;
    }
}

/* RESPONSIVE DESIGN - MOBILE FIRST */
@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
        line-height: 24px;
    }
    
    .page {
        width: 95%;
        margin: 20px auto;
        box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.3);
        padding-bottom: 50px;
    }
    
    .top-bar {
        height: 120px;
        position: relative;
    }
    
    .name {
        position: static;
        height: 120px;
        font-size: 32px;
        letter-spacing: 4px;
        line-height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    
    
    .side-bar {
        position: static;
        width: 100%;
        padding: 300px 20px 50px;
        margin-top: 0;
    }
    
    .mugshot {
        position: absolute;
        top: 160px !important;
        left: 50%;
        transform: translateX(-50%);
        height: 120px;
        width: 120px;
        margin: 0;
    }
    
    .logo {
        position: absolute;
        top: 0;
        left: 60%;
        transform: translateX(-50%);
        z-index: 100;
        margin: 0;
        color: black;
        height: 200px;
        width: 200px;
    }
    
    .content-container {
        width: 100%;
        padding: 20px;
        margin-right: 0;
    }
    
    h2 {
        font-size: 24px;
        letter-spacing: 3px;
        line-height: 30px;
    }
    
    h3 {
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 24px;
    }
    
    .side-header {
        font-size: 16px;
        letter-spacing: 2px;
        margin: 50px auto 10px;
    }
    
    .technologies-container {
        display: flex;
        gap: 8px;
        justify-content: space-between;
    }
    
    .technologies-column {
        flex: 1;
        min-width: 0;
        margin-bottom: 0;
    }
    
    .social {
        font-size: 14px;
        margin-bottom: 15px;
    }
    
    .social:before {
        height: 16px;
        width: 16px;
        margin-right: 6px;
    }
    
    .separator {
        width: 120px;
        margin: 0 auto;
    }
    
    .greyed {
        font-size: 16px;
        letter-spacing: 3px;
        padding: 8px 0;
    }
}

/* RESPONSIVE DESIGN - SMALL MOBILE */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .mugshot {
        position: absolute;
        top: 170px !important;
        left: 50%;
        transform: translateX(-50%);
        height: 160px;
        width: 160px;
    }
    
    .logo {
        height: 200px;
        width: 200px;
    }
    
    .side-bar {
        padding: 340px 20px 50px;
    }
}

@media screen and (max-width: 480px) {
    .page {
        width: 98%;
        margin: 10px auto;
        padding-bottom: 40px;
    }
    
    .name {
        font-size: 28px;
        letter-spacing: 2px;
        line-height: 32px;
    }
    
    
    .side-bar {
        padding: 350px 15px 50px;
    }
    
    .content-container {
        padding: 15px;
    }
    
    h2 {
        font-size: 20px;
        letter-spacing: 2px;
        line-height: 26px;
    }
    
    h3 {
        font-size: 16px;
        line-height: 22px;
    }
    
    .mugshot {
        position: absolute;
        top: 140px;
        left: 50%;
        transform: translateX(-50%);
        height: 180px;
        width: 180px;
    }
    
    .logo {
        position: absolute;
        top: 50px;
        left: 60%;
        transform: translateX(-50%);
        z-index: 100;
        margin: 0;
        color: black;
        height: 250px;
        width: 250px;
    }
    
    .social {
        font-size: 12px;
    }
    
    .social:before {
        height: 14px;
        width: 14px;
        margin-right: 4px;
    }
}



